body{
    font-family:Arial-Narrow, Helvetica, sans-serif;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.flex1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin:0px 200px 0px 200px;
}

img{
    height: 80px;
    width:160px;
}


#sec5{
    align-items: center;
    text-align: center;
    margin: 20px;
    border: 2px solid;
    border-color: grey;
}

#inside1{
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 50px;
}

#inside2{
    margin:100px;
}

#i1{
    background-color: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    border-color: black;
    width: 40%;
    height: 50%;
    margin-bottom: 100px;
}

#i2{
    background-color: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    border-color: black;
    width: 5%;
    border-left: white;
    margin-bottom: 100px;
}

h2{
    font-size: 30px;
}